form {
    max-width: 600px;
    margin:auto;
}

.input-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
}

.input {
    width: 100%;    
    height: 30px;
    font-family: "Karla";
    text-indent: 5px;
}

.new-meme-button {
    background-image: linear-gradient(to right, rgb(86, 8, 86), rgb(240, 105, 240));
    
    border: 0; 
    border-radius: 4px;
    padding: 10px;
    margin: auto;
    width: 100%; 

    color: white;
    font-weight: bold;
    font-family: "Karla";

    cursor: pointer;
}
.new-meme-button:active {
    background-image: linear-gradient(to right,  rgb(240, 105, 240), rgb(86, 8, 86));
}
