@font-face {
  font-family: "Karla";
  src: url("../Fonts/Karla-VariableFont_wght.ttf") format(truetype);
}
body {
  margin: 0;
  font-family: "Karla";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
